# Nome do acesso remoto configurado no rclone (padrão: gdrive)
REMOTE_NAME="gdrive"

# Caminho da pasta ou ID da pasta compartilhada no Google Drive
REMOTE_PATH="pasta_compartilhada_no_drive"

# Caminho da pasta local onde os arquivos serão baixados
LOCAL_PATH="_gdrive_raw/"
